/** @format */

header {
  background-image: url("../../../assets//GH-en-20230731-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.9)
  );
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px 0px 30px;
}

.navContainer span img {
  width: 100%;
}
.navContainer span a {
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-align: center;
  background-color: #e50914;
  color: white;
  border: transparent 1px solid;
  border-radius: 4px;
  padding: 7px 16px;
  box-sizing: border-box;
}

.mainContainer {
  margin: auto;
  max-width: calc(100% - 3rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 1.1rem 0rem 0rem;
  color: white;
}

.mainContainer .heroContainer {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
  width: 100%;
  max-width: calc(100% - 0rem);
}

.mainContainer .heroContainer h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.mainContainer .heroContainer p {
  margin: 1rem 0 0;
  font-size: 1.125rem;
  font-weight: 400;
}

.mainContainer .heroContainer .formsContainer {
  margin: 1.5rem 0 2rem;
  padding: 0 1.5rem;
}

.mainContainer .heroContainer .formContainer .formsInnerContainer {
  text-align: center;
  box-sizing: border-box;
  max-width: 61.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  content: "1";
}

.formContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.formContainer p {
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}

.formContainer h5 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6875rem;
}

.formContainer .mainContainer {
  width: 100%;
}
.formContainer .inputContainer {
  text-align: left;
  position: relative;
  margin: 1rem auto 0;
  width: 100%;
  max-width: 36.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formContainer .inputContainer .errorMessageContainer {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  width: 100%;
}
.formContainer .inputContainer .errorMessageContainer img {
  margin-right: 0.25rem;
}

.formContainer .inputContainer .errorMessageContainer .errorMessage {
  margin: 0rem;
  font-size: 0.9rem;
  color: rgb(235, 57, 66);
}

.formContainer .emailAndErrorMessage {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formContainer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3rem;
  background-color: rgba(24, 20, 20, 0.648);
  border: rgb(100, 97, 97) 1px solid;
  border-radius: 4px;
  color: rgb(255, 245, 245);
  font-size: 16px;
}

.formContainer .container input {
  background-color: transparent;
  font-size: 16px;
  align-self: start;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 1.25rem 0rem 0.4rem;
  text-indent: 1rem;
  line-height: 1.5rem;
  color: white;
}

.formContainer .container input:focus {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.formContainer .container label {
  position: absolute;
  top: 0.6rem;
  left: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
.formContainer .container input:focus ~ label {
  transform: translateY(-10px);
  font-size: 12px;
  margin-bottom: 10px;
  transition: 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
}
.formContainer .container input.hasValue:not(:focus) ~ label {
  transform: translateY(-10px);
  font-size: 12px;
  margin-bottom: 10px;
  transition: 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.formContainer .container input:not(:focus) ~ label {
  transition: 250ms cubic-bezier(1, 0.1, 0, 0.5) 0s;
}

.formContainer a {
  text-decoration: none;
  color: white;
  border: transparent 1px solid;
  background-color: rgb(229, 9, 20);
  min-height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 700;
  width: auto;
  padding: 1.5 2rem;
  align-self: center;
  margin-top: 1rem;
}

.formContainer a span {
  display: flex;
}

@media (min-width: 600px) {
  .formContainer .inputContainer {
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto 0;
  }

  .formContainer .inputContainer a {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0.5rem;
    align-items: center;
    align-self: flex-start;
  }
  .formContainer .inputContainer a .text {
    white-space: nowrap;
  }
  .heroContainer {
    max-width: calc(100% - 5rem);
  }
}

@media (min-width: 960px) {
  .navContainer {
    margin: 0 10rem;
  }
  .mainContainer .heroContainer .formsContainer {
    margin: 1.5rem 0 2rem;
    padding: 0rem;
  }
  .container .content .navContainer .netflixSVG {
    display: flex;
  }
  .container .content .navContainer img {
    width: 9.5rem;
    display: flex;
  }

  .mainContainer {
    min-height: 33rem;

    align-items: center;
    justify-content: center;
  }
  .mainContainer .heroContainer h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  .mainContainer .heroContainer p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .formContainer .inputContainer {
    max-width: 36.625rem;
  }
  .formContainer h5 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
  }
}
