/** @format */

.footerWrapper {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.footerDivider {
  border-top: 1px solid #737373;
  height: 0;
  width: 100%;
}

.siteFooter {
  margin: 0 auto;
  padding-top: 30px;
  width: 90%;
  padding: 30px 0;
  color: #737373;
  display: flex;
  flex-direction: column;
}

.siteFooter .footerTop {
  margin: 0 0 30px;
  padding: 0;
  text-align: left;
}

.siteFooter .linksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: left;
}

.siteFooter a {
  color: #737373;
  font-size: 13px;
  text-decoration: none;
}

@media (min-width: 740px) {
  .siteFooter .linksContainer {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    text-align: left;
  }
}
