/** @format */

.loginBody {
  color: #333;
  margin: 0 auto;
  padding: 0 5%;
}

.loginBody .loginContent {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 515px;
  padding: 20px 0 30px;
  width: 100%;
}

.loginContent .loginFormMain {
  flex-grow: 1;
}

.loginFormMain h1 {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  margin-bottom: 0rem;
  text-align: start;
  margin-bottom: 28px;
}

/* email input styles*/
<<<<<<< HEAD =======>>>>>>>42f6bb03eaae24f7b811876c6d4c6e3131357c3e .loginForm .emailContainer {
  max-width: 100%;
  position: relative;
}

.emailContainer .emailInput {
  background-color: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px 0;
}

.emailContainer .emailInput:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 50px;
  padding: 16px 20px 0;
}

.emailContainer .emailInput:focus ~ label {
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  font-size: 10px;
  top: 20%;
  left: 20px;
}

.emailContainer .inputPlaceholder {
  color: #8c8c8c;
  font-size: 14px;
  left: 20px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}

.emailContainer {
  max-width: 100%;
  position: relative;
  padding-bottom: 16px;
}

.emailContainer .emailInput {
  background-color: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px 0;
}

.emailContainer .emailInput:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 50px;
  padding: 16px 20px 0;
}

.emailContainer .emailInput:focus ~ label {
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  font-size: 10px;
  top: 20%;
  left: 20px;
}

.emailContainer .inputPlaceholder {
  color: #8c8c8c;
  font-size: 14px;
  left: 20px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}

/*password input styles*/

.loginForm .passwordContainer {
  max-width: 100%;
  position: relative;
  padding: 0;
}

.passwordContainer .passwordInput {
  background-color: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px 0;
}

.passwordContainer .passwordInput:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 50px;
  padding: 16px 20px 0;
}

.passwordContainer .passwordInput:focus ~ .inputPlaceholder {
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  font-size: 10px;
  top: 20%;
  left: 20px;
}

.passwordContainer .inputPlaceholder {
  color: #8c8c8c;
  font-size: 14px;
  left: 20px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}

.inputData {
  max-width: 100%;
  position: relative;
  padding-bottom: 16px;
}
.passwordContainer {
  max-width: 100%;
  position: relative;
}

.passwordContainer .passwordInput {
  background-color: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px 0;
}

.passwordContainer .passwordInput:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 50px;
  padding: 16px 20px 0;
}

.passwordContainer .passwordInput:focus ~ label {
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  font-size: 10px;
  top: 20%;
  left: 20px;
}

.passwordContainer .inputPlaceholder {
  color: #8c8c8c;
  font-size: 14px;
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}

.passwordContainer .passwordVisibleBtn {
  position: absolute;
  top: -50%;
  transform: translateY(50%);
  left: 82%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: #8c8c8c;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 14px;
  height: 50px;
  padding: 0 12px;
}

.passwordErrorMsg {
  color: #e87c03;
  margin-bottom: -6px;
  padding: 6px 3px;
  font-size: 13px;
  margin: 0;
  position: absolute;
}

/*Login Form Styles*/
.loginForm .signInBtn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  margin: 24px 0 12px;
  background: #e50914;
  width: 100%;

  display: block;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.formHelp {
  display: flex;
  justify-content: space-between;
}

.customCheckbox {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.hiddenCheckbox {
  opacity: 0;
}

.visibleCheckbox {
  content: "\2713";
  width: 16px;
  height: 16px;
  background-color: white;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s, border-color 0.3s;
}

.hiddenCheckbox:checked + .visibleCheckbox {
  background-color: #737373;
}

.checkboxLabel {
  padding-left: 5px;
  cursor: pointer;
  color: #b3b3b3;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  transition: color 0.3s;
}

.checkboxLabel::before {
  position: absolute;
  color: black;
  font-weight: 900;
  font-size: 14px;
  left: 3px;
  top: 0;
  content: "\2713";
}

input[type="checkbox"]:not(:checked) ~ .checkboxLabel::before {
  display: none;
}

.otherForm {
  padding-bottom: 5rem;
}

.signup {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}

.signup a {
  color: white;
  padding: 0 4px;
}

.terms {
  color: #8c8c8c;
  font-size: 13px;
  margin-top: 11px;
}

.terms a {
  color: #0071eb;
  cursor: pointer;
}

input.emailHasValue:not(:focus) ~ label {
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  font-size: 10px;
  top: 20%;
  left: 20px;
}

input.passwordHasValue:not(:focus) ~ label {
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  font-size: 10px;
  top: 20%;
  left: 20px;
}
