/** @format */

.downloadsCenter {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  min-height: auto;
  padding: 3.5rem 0;
}

.downloadsCenter .downloadsContainer {
  margin: auto;
  max-width: calc(100% - 3rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.downloadsCenter .downloadsContainer .intro {
  display: flex;
  flex-direction: column;
}

.intro h2 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.intro p {
  margin: 1rem 0 0;
  font-size: 1.125rem;
  font-weight: 400;
}

.downloads .dowloadsImg {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
}

.mainDownloadsImg {
  position: relative;
}

.mainDownloadsImg .mainImg {
  width: 100%;
}

.subDownloadsContainer {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 8%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 auto;
  background: rgb(0, 0, 0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
  min-width: 15rem;
  padding: 0.25rem 0.65rem;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border-radius: 0.75rem;
}

.subDownloadsContainer .imgSub {
  margin: 0 1rem 0 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.subDownloadsContainer .imgSub img {
  height: 3rem;
}

.subDownloadsContainer .downloadsTitle h1 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

.subDownloadsContainer .downloadsTitle p {
  font-size: 0.75rem;
  margin: 0;
  color: #0071eb;
}
.subDownloadsContainer .downloadingIcon img {
  height: 3rem;
}

/* main .downloads p {
  margin: 0;
  font-size: 10px;
  line-height: 20px;
  color: blue;
}

main .downloads h1 {
  font-size: 10px;
  margin: 0;
}

main section div .mainDownloadsImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main section div img {
  width: 100%;
}

main section div .subDownloadsContainer {
  display: flex;

  border: 2px rgba(128, 128, 128, 0.7) solid;
  border-radius: 0.7rem;
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  box-sizing: border-box;
  padding: 0.25rem 0.65rem;
  position: absolute;
  top: 74%;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(0, 0, 0);
}

main section div .subDownloadsContainer .downloadsTitle {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

main section div .subDownloadsContainer .imgSub img {
  height: 3rem;
}
main section div .subDownloadsContainer .downloadingIcon {
  display: flex;
}
main section div .subDownloadsContainer .downloadingIcon img {
  height: 3rem;
  margin: 0;
} */

@media (min-width: 768px) {
  main section div .subDownloadsContainer {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0, 0, 0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;

    padding: 0.35rem 0.75rem;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    z-index: 1;
  }

  main section div .subDownloadsContainer .imgSub {
    display: flex;
  }
  main section div .subDownloadsContainer .imgSub img {
    height: 4rem;
  }

  main section div .subDownloadsContainer .downloadsTitle h1 {
    font-size: 1rem;
    white-space: nowrap;
  }
  main section div .subDownloadsContainer .downloadsTitle p {
    font-size: 0.875rem;
  }
}

@media (min-width: 960px) {
  .downloadsCenter .downloadsContainer {
    flex-direction: row-reverse;
  }

  .downloadsCenter .downloadsContainer .intro {
    text-align: left;
    padding-left: 0.375rem;
  }

  .downloadsCenter .downloadsContainer .intro h2 {
    text-align: start;
    font-size: 3rem;
    font-weight: 900;
  }
}

@media (min-width: 1440px) {
  .downloadsCenter .downloadsContainer {
    max-width: calc(80% - 10rem);
  }
}
