/** @format */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

footer .footer {
  max-width: calc(100% - 3rem);
}
footer .footer .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin: 1.5rem 0 0;
}
footer .footer h2 {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

footer .footer .container h3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.0625rem;
  text-align: center;
}
footer .footer .container .newsletter h3 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
footer .footer .container h3 button {
  background-color: rgb(45, 45, 45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1.2rem;
  border: none;
  box-shadow: none;
  outline: none;
}

li {
  margin: 0 0 0.5rem 0;
}
li h3 {
  margin: 0;
  background-color: rgb(45, 45, 45);
}

footer .footer .container h3 button:hover {
  background-color: rgb(78, 78, 78);
}

footer .footer .container h3 button img {
  width: 22.63px;
  height: 22.63px;
  transition: transform 3s ease-in-out;
}

footer .footer .container h3 button span {
  font-size: 18px;
}

footer .footer .container .details {
  font-size: 18px;

  background-color: rgb(45, 45, 45);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

footer .footer .container .active {
  max-height: 1000px;
  opacity: 1;
  padding: 1.5rem;
}

footer .footer .container .details span {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 0;
}

.emailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 22rem;
  height: 3rem;
  background-color: rgba(24, 20, 20, 0.648);
  border: rgb(100, 97, 97) 1px solid;
  border-radius: 4px;
  color: rgb(255, 245, 245);
  font-size: 16px;
}
.emailContainer input {
  background-color: transparent;
  font-size: 16px;
  align-self: start;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 1.25rem 0rem 0.4rem;
  text-indent: 1rem;
  line-height: 1.5rem;
}

.emailContainer input:focus {
  margin-top: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.emailContainer label {
  position: absolute;
  top: 0.6rem;
  left: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
.emailContainer input:focus ~ label {
  transform: translateY(-10px);
  font-size: 12px;
  margin-bottom: 10px;
  transition: 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
}
.emailContainer input:not(:focus) ~ label {
  transition: 250ms cubic-bezier(1, 0.1, 0, 0.5) 0s;
}

form .form a {
  text-decoration: none;
  font-size: 18px;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  background-color: #e50914;
  color: white;
  border: transparent 1px solid;
  border-radius: 4px;
  padding: 7px 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.8rem 1rem;
  margin-top: 1rem;

}

