/** @format */

.linksFooter {
  padding: 0rem;
  width: 100%;
}
.footerContainer {
  max-width: calc(100% - 3rem);

  display: flex;
  flex-direction: column;
  padding: 1.25rem 0;
  width: 100%;
}

.footerContainer .contact {
  padding: 0.25rem 0;
  align-self: flex-start;
}
.footerContainer .contact a {
  font-size: 1rem;
}

.footerContainer .linksContainer {
  padding: 0.75rem 0rem;
}

.footerContainer .linksContainer .linksInnerContainer {
  display: grid;
  padding: 0.25rem 0rem;
}

.footerContainer .linksContainer .linksInnerContainer ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-width: 10.875rem;
  gap: 0.75rem;
  padding: 0.75rem 0rem;
}

.footerContainer .linksContainer .linksInnerContainer ul li {
  margin: 0;
  will-change: scroll-position;
}

.linksFooter .footerContainer .languageContainer {
  padding: 0.75rem 0rem;
  display: flex;
}

.linksFooter .footerContainer .languageContainer .languageInnerContainer {
  display: flex;
  min-width: auto;
  width: auto;
  font-size: 1rem;
  font-weight: 500;
  fill: currentColor;
  justify-content: space-around;
  align-items: center;
  border: rgb(100, 97, 97) 1px solid;
  border-radius: 4px;
}

.linksFooter .footerContainer .languageContainer .languageInnerContainer select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: auto;
  width: auto;
  background-color: inherit;
  border: transparent;
  color: white;
  padding: 0.375rem 0.375rem;
  font-size: inherit;
  line-height: 1.25rem;
}

.linksFooter .footerContainer .languageContainer .languageInnerContainer select option {
  font-size: inherit;
}

/* .linksFooter .footerContainer .languageContainer .languageInnerContainer img {
  padding: 0.375rem 0.375rem;
  font-weight: 900;
} */

.footerContainer p {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media (min-width: 425px) {
  .footerContainer .linksContainer .linksInnerContainer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 10.875rem;
    gap: 0.75rem;
    padding: 0.75rem 0rem;
  }
}
@media (min-width: 768px) {
  .footerContainer .linksContainer .linksInnerContainer ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 10.875rem;
    gap: 0.75rem;
    padding: 0.75rem 0rem;
  }
}
