/** @format */
.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  min-height: auto;
  padding: 2.5rem 0;
  margin: 0;
}

.container .heroContainer {
  margin: auto;
  max-width: calc(100% - 3rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.container .intro {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
  width: 100%;
  margin: 1rem 0rem;
}
.container .intro h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}
.container .intro p {
  margin: 1rem 0 0;
  font-size: 1.125rem;
  font-weight: 400;
}
.container .netflixTV {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 0;
  z-index: 1;
}
.container .netflixTV img {
  width: 100%;
}
.vidContainer {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.video {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.video video {
  width: 100%;
}

@media (min-width: 768px) {
  .heroContainer {
    max-width: calc(100% - 4rem);
  }
}

@media (min-width: 960px) {
  .container {
    min-height: auto;
    padding: 3rem 0;
  }
  .container .heroContainer {
    flex-direction: row;
    max-width: calc(100% - 20rem);
  }

  .container .heroContainer .intro {
    margin: 0;
    text-align: left;
    padding-right: 0.375rem;
  }
  .container .heroContainer .intro h2 {
    font-size: 3rem;
    font-weight: 900;
  }

  .container .heroContainer .intro p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
