/** @format */
main {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 2rem 1.2rem;
}

main .intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0rem;
}
main .intro h1 {
  margin: 1rem;
  font-size: 32px;
}
main .intro p {
  font-size: 17px;
  margin: 0;
}
main .netflixTV {
  display: flex;
  flex-direction: column;
}
main .netflixTV img {
  width: 377px;
  z-index: 1;
}

.vidContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 2px;
  margin-bottom: 1rem;
}
.video {
  position: absolute;
  box-sizing: border-box;
}
.video video {
  max-width: 278px;
}
