/** @format */

.loginWrapper {
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  z-index: 0;
  background-color: #000;
  color: #fff;
}

.loginWrapper .loginWrapperBackground {
  background: url("../assets/loginWrapperBackground.jpg") no-repeat center;
}

.loginWrapper .loginHeader {
  background: none;
  border: 0;
  display: flex;
  flex-direction: row;
}

.loginWrapper .loginHeader a {
  margin-left: 3%;
  display: flex;
}

.loginWrapper .loginBody {
  color: #333;
  margin: 0 auto;
  padding: 0 5%;
}

.loginBody .loginContent {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 515px;
  padding: 20px 0 30px;
  width: 100%;
}

.loginContent .loginFormMain {
  flex-grow: 1;
}

.loginFormMain h1 {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  margin-bottom: 0rem;
  text-align: start;
  margin-bottom: 28px;
}

.loginForm .emailContainer {
  padding-bottom: 16px;
  max-width: 100%;
  position: relative;
}

.emailContainer .phoneContainer {
  display: flex;
  width: 100%;
}

.loginForm .emailContainer .label {
  display: flex;
  width: 100%;
}
.loginForm .emailContainer label input {
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 35px;
  line-height: 50px;
  padding: 16px 24px 0;
  background: #333;
  width: 100%;
  font-size: 1rem;
}

.emailContainer label label {
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: top, font-size, line-height;
  transition-duration: 250ms;
  pointer-events: none;
  font-size: 1rem;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
  color: #8c8c8c;
  line-height: 1.5rem;
  left: -1rem;
  right: 1rem;
  top: 0.75rem;
}

.emailContainer input:focus ~ label {
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: top, font-size, line-height;
  transition-duration: 250ms;
  pointer-events: none;
  font-size: 0.8rem;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
  color: #8c8c8c;
  line-height: 1.5rem;
  left: -3rem;
  right: 1rem;
  top: 0.2rem;
}
.emailContainer .error {
  color: #e87c03;
  font-size: 1rem;
}
