/** @format */

.loginWrapper {
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  z-index: 0;
  background-color: #000;
  color: #fff;
}

.loginWrapper .loginWrapperBackground {
  background: url("../assets/loginWrapperBackground.jpg") no-repeat center;
}

.loginWrapper .loginHeader {
  background: none;
  border: 0;
  display: flex;
  flex-direction: row;
}

.loginWrapper .loginHeader a {
  margin-left: 3%;
  display: flex;
}

.loginWrapper .loginBody {
  color: #333;
  margin: 0 auto;
  padding: 0 5%;
}

.loginBody .loginContent {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 515px;
  padding: 20px 0 30px;
  width: 100%;
}

.loginContent .loginFormMain {
  flex-grow: 1;
}

.loginFormMain h1 {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  margin-bottom: 0rem;
  text-align: start;
  margin-bottom: 28px;
}

.loginForm .emailContainer {
  max-width: 100%;
  position: relative;
  padding-bottom: 16px;
}

.emailContainer .emailInput {
  background-color: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 44px;
  line-height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px 0;
}

.emailContainer .emailInput:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 50px;
  padding: 16px 20px 0;
}

.emailContainer .emailInput:focus ~ label {
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  font-size: 10px;
  top: 25%;
  left: 20px;
}

.emailContainer .inputPlaceholder {
  color: #8c8c8c;
  font-size: 14px;
  left:20px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}
