/** @format */

aside {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;
  padding: 3.5rem 0;
}

aside .container {
  max-width: calc(100% - 3rem);
}
aside .container h2 {
  margin: 0;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
}

aside .container p {
  font-size: 18px;
}

@media (min-width: 960px) {
  .aside {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: left;
  }

  .aside .container {
    padding-left: 10rem;
    max-width: calc(100% - 70rem);
    margin: 0rem 8rem;
  }

  .aside .container h2 {
    text-align: left;

    font-size: 3rem;
    font-weight: 900;
  }

  .aside .container p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
  }
}
